################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/my-first-react-app/.vs
/.vs
/data.jsx
/my-first-react-app/src/assets
my-first-react-app/src/assets/data.jsx
