@import 'variables';

header{
    display: flex;
    height: $header;
    >div:first-child img{
        object-fit: cover;
        height: 100%;
    }
    >div:nth-child(2) {
        width: 100%;
        background-color: aqua;
    }
}

.general-description{
    background-color:rgb(205, 50, 50);
}