@import 'variables';

main{
    height: $main;
    // margin: $margin_for_header_main_footer;
    h1 {
        text-align: left;
    }
    .summary{
        margin-top: $margin_for_sections;
        margin-bottom: $margin_for_sections;
    }
    .education{
        margin-top: $margin_for_sections;
        margin-bottom: $margin_for_sections;
        > div{
            display: flex;
            p{
                margin-right: 10rem;
                margin-left: 25vw;
            }
        }
    }
    .skills{
      
    }
}