@import 'variables';

main{
    
    > div > div, > div {
       margin: $margin_for_sections;
    }
    // margin: $margin_for_header_main_footer;
    h1 {
        text-align: left;
    }
    h3{
        margin-top:$margin_for_sections;
    }
    //button17 https://getcssscan.com/css-buttons-examples:
    button{
        border-radius: 24px;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;;
        padding: 1rem;
        font-weight: 700;
    }
    button:hover{
        color: #174ea6;
        background: #F6F9FE;
    }
    
    .education{
        > div{
            display: flex;
            justify-content: space-between;
        }
    }
    .skills{
        .hard{
            margin: 16px 13px 16px 13px;
        }
    }
}