$font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$header: 30vh;
<<<<<<< HEAD
=======
$footer: 5vh;
>>>>>>> 03fd3dbcd89d7a303bc60e77e932cc65ffa005e4
$margin_for_header_main_footer: 2vh;
$margin_for_sections: 10px;